WMB_API_TOKEN=123
WMB_DB_HOST=127.0.0.1
WMB_DB_PORT=3306
WMB_DB_NAME=jjs
WMB_DB_USER=root
WMB_DB_PASSWORD=
WMB_DB_CHARSET=utf8mb4

WMB_APP_NAME=家捷送
WMB_APP_ICON_URL=
WMB_SHOW_REFUSE_BTN=false
WMB_CHECK_NEW_ORDER_TIMESPAN=60
WMB_IS_VIBRATION=true
WMB_MAX_IMAGE_SIZE=500000
WMB_PUBLIC_UPLOAD_BASE_URL=http://ps.hz88885678.cn
WMB_PUBLIC_UPLOAD_DETAIL_BASE_URL=http://ps.hz88885678.cn:8899
